<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmd.rentavehiculos">

    <!-- 🚀 Permiso para acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 🚀 Permiso para verificar el estado de la red -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.RentaVehiculos"
        android:usesCleartextTraffic="true">

        <!-- Splash Screen como pantalla de inicio -->
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity android:name=".views.LoginActivity" android:exported="true"/>

        <!-- MainActivity (opcional, si decides usarla después del login) -->
        <activity android:name=".MainActivity" android:exported="true"/>

        <activity android:name=".views.ClienteActivity"/>

        <activity android:name=".views.AdminActivity"/>


    </application>

</manifest>
